body {
  background-size: cover; /* 이미지가 창 크기에 맞게 꽉 차도록 설정 */
  background-position: center; /* 이미지의 중앙을 창의 중앙에 맞추도록 설정 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
  background-attachment: fixed; /* 배경 이미지가 고정되도록 설정 (옵션) */
}

.hidden {
  display: none;
}

#container {
  display: flex;
}
