#container__weather {
}
#weather {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#weather span:first-child {
  font-size: xx-large;
}
#weather span:last-child {
  font-size: x-large;
}
